$main-landing-color: #AEF4A4;
$main-landing-color: #AEF4A4;
$main-gradient: radial-gradient(circle, #E36488 0%, #AF385A 100%);
$main-nav-height: 55px;
$landing-bg: radial-gradient(circle, #E36488 0%, #AF385A 100%);
$p-color: #FFFDB7;
